
.vs/test.github.io/FileContentIndex/0d00894a-e285-43a1-91e8-29fe2baaec06.vsidx
.vs/test.github.io/FileContentIndex/b10d8925-b38c-418e-9637-2cd2754c05ba.vsidx
.vs/test.github.io/v17/.wsuo
.vs/test.github.io/FileContentIndex/ca04fb08-80f6-4207-92f6-8aa2e70ab72b.vsidx
.vs/slnx.sqlite
