
body {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

#x1, #x2, #x3, #x4, #x5, #y1, #y2, #y3, #value {
    width: 50%;
    height: 25%;
    background-color: linen;
    text-align: center;
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
}

#wrap {
    display: flex;
    border-radius: 10px;
    border: 1px solid;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: gray;
}

h3 {
    color: black;
    font-style: italic;
    margin-left: 10px;
}

#bolus {
    display: inline-block;
    border-radius: 10px;
    border: 1px solid;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    text-align: left;
    background-color: lavender;
}

#labelstop {
    display: inline-flex;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: red;
}

#labelsbottom {
    display: inline-flex;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: olive;
}

.id {
    display: inline-flex;
    color: white;
    margin-top: 10px;
}

#valuestop {
    display: inline-flex;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: red;
}

#valuesbottom {
    display: inline-flex;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: olive;
}

.content {
    width: 100%;
    height: 100%;
    border: 1px solid;
    display: inline-block;
    border-radius: 10px;
    justify-content: space-between;
    text-align: center;
}

.label {
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 10px;
    display: inline-block;
    border-radius: 10px;
    justify-content: space-between;
}

#action {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: yellow;
}

#but {
    width: 100%;
    height: 100%;
    background-color: linen;
    text-align: center;
}

#results {
    display: inline-flex;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: gray;
    border-radius: 10px;
    border: 1px solid;
}

.final {
    width: 100%;
    height: 100%;
    border: 1px solid;
    display: inline-block;
    border-radius: 10px;
    justify-content: space-between;
    text-align: center;
}
