
body {
    font-family: Calibri;
    max-width: 90%;
    max-height: 90%;
}

#x1, #x2, #x3, #x4, #x5, #y1, #y2, #y3, #value {
    width: 75px;
    height: 20px;
    background-color: linen;
    text-align: center;
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5px;
}

#wrap {
    display: flex;
    border-radius: 10px;
    border: 1px solid;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 800px;
    height: 370px;
    background-color: gray;
}

h3 {
    color: black;
    font-style: italic;
    margin-left: 10px;
}

#bolus {
    display: inline-block;
    border-radius: 10px;
    border: 1px solid;
    height: 40px;
    width: 800px;
    justify-content: space-between;
    text-align: left;
    background-color: lavender;
}

#labelstop {
    display: inline-flex;
    width: 800px;
    height: 50px;
    text-align: center;
    background-color: red;
    justify-content: safe center;
}

#labelsbottom {
    display: inline-flex;
    height: 50px;
    width: 800px;
    text-align: center;
    background-color: olive;
    justify-content: safe center;
}

.id {
    display: inline-flex;
    color: white;
    margin-top: 10px;
}

#valuestop {
    display: inline-flex;
    height: 50px;
    width: 800px;
    text-align: center;
    background-color: red;
    justify-content: safe center;
}

#valuesbottom {
    display: inline-flex;
    height: 50px;
    width: 800px;
    text-align: center;
    background-color: olive;
    justify-content: safe center;
}

.content {
    width: 200px;
    height: 40px;
    border: 1px solid;
    display: inline-block;
    border-radius: 10px;
    justify-content: space-between;
    text-align: center;
}

.label {
    width: 200px;
    height: 40px;
    border: 1px solid;
    border-radius: 10px;
    display: inline-block;
    border-radius: 10px;
    justify-content: space-between;
}

#action {
    height: 70px;
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: yellow;
}

#but {
    width: 100px;
    height: 40px;
    background-color: linen;
    text-align: center;
    margin-top: 15px;
    margin-left: 350px;
}

#results {
    display: inline-flex;
    height: 60px;
    width: 800px;
    justify-content: safe center;
    text-align: center;
    background-color: gray;
    border-radius: 10px;
    border: 1px solid;
}

.final {
    width: 200px;
    height: 40px;
    border: 1px solid;
    display: inline-block;
    border-radius: 10px;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
}
