
body {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#x1, #y1 {
    width: 65%;
    height: 70%;
    background-color: lightgoldenrodyellow;
    align-items: center;
    text-align: center;
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 10px;
    font-size: 3vw;
    font-family: 'Segoe UI';
}

#x4, #z1 {
    width: 65%;
    height: 70%;
    background-color: skyblue;
    align-items: center;
    text-align: center;
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 10px;
    font-size: 3vw;
    font-family: 'Segoe UI';
}

#aa1, #aa2, #aa3, #aa4, #aa5, #aa6, #aa7, #aa8, #aa9 {
    display: inline-flex;
    vertical-align: middle;
    background-color: linen;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Segoe UI';
    border-radius: 0;
}

#bb1, #bb2, #bb3, #bb4, #bb5, #bb6, #bb7, #bb8, #bb9, #bb10 {
    display: flex;
    background-color: linen;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Segoe UI';
    border-radius: 0;
}

#bb1 {
    display: flex;
    background-color: linen;
    justify-content: center;
    background-color: lightgoldenrodyellow;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2vw;
    font-family: 'Segoe UI';
    border-radius: 0;
}

#x2, #x3, #x5, #y2, #y3, #value, #leftover, #bonus, #z2, #z4 {
    width: 65%;
    height: 70%;
    background-color: linen;
    align-items: center;
    text-align: center;
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 10px;
    font-size: 3vw;
    font-family: 'Segoe UI';
}

#z3, #test {
    width: 65%;
    height: 70%;
    background-color: palegreen;
    align-items: center;
    text-align: center;
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 10px;
    font-size: 3vw;
    font-family: 'Segoe UI';
}

#wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

#bolus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: slategrey;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
}

#meal {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    background-color: slategrey;
    text-align: center;
}

.button {
    display: flex;
    background-color: linen;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 90%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
    font-size: 2vw;
    font-family: 'Segoe UI';
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.75);
}

.MT {
    display: flex;
    background-color: greenyellow;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 90%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: center;
    font-size: 2vw;
    font-family: 'Segoe UI';
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.75);
}

.click {
    display: flex;
    background-color: linen;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    font-size: 2vw;
    font-family: 'Segoe UI';
}

.button:hover {
    background-color: white
}

.button:active {
    background-color: darkslategrey;
    transform: translateY(4px);
}

#onboardwrapwrap {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: slategrey;
    text-align: center;
}

#onboardwrap {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
    background-color: slategrey;
    text-align: center;
}

#onboard {
    display: inline-flex;
    justify-content: center;
    width: 95%;
    height: 90%;
    background-color: slategrey;
    text-align: center;
}

.boxes {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    padding: 0;
    width: 90%;
    height: 95%;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Segoe UI';
}

.recents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Segoe UI';
    cursor: pointer;
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.75);
}

    .recents:hover {
        background-color: white
    }

    .recents:active {
        background-color: darkslategrey;
        transform: translateY(4px);
    }

.recentvals {
    display: flex;
    background-color: linen;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Segoe UI';
}

h3 {
    color: black;
    font-style: italic;
    margin-left: 10px;
    font-family: 'Segoe UI';
}

#labelstop {
    font-size: 2vw;
    display: inline-flex;
    width: 100%;
    height: 50%;
    text-align: center;
    background: #7AB893;
    font-family: 'Segoe UI';
}

#valuestop {
    display: inline-flex;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #7AB893;
    font-family: 'Segoe UI';
}

#action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #B2E3AF;
}

.calculate {
    position: relative;
    width: 25%;
    height: 70%;
    background-color: linen;
    text-align: center;
    font-size: 2.75vw;
    border-radius: 10px;
    font-family: 'Segoe UI';
    cursor: pointer;
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.75);
}

    .calculate:hover {
        background-color: white
    }

    .calculate:active {
        background-color: darkslategrey;
        transform: translateY(4px);
    }

#labelsmid {
    display: inline-flex;
    width: 100%;
    height: 50%;
    text-align: center;
    background: #7AB893;
    font-family: 'Segoe UI';
}

#valuesmid {
    display: inline-flex;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #7AB893;
    font-family: 'Segoe UI';
}

#labelsbottom {
    font-family: 'Segoe UI';
    display: inline-flex;
    width: 100%;
    height: 50%;
    text-align: center;
    background: #B2E3AF;
}

#valuesbottom {
    display: inline-flex;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #B2E3AF;
    font-family: 'Segoe UI';
}

.id {
    font-size: 2.7vw;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: white;
    color: black;
    font-family: 'Segoe UI';
    font-family: 'Segoe UI';
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Segoe UI';
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 2vw;
    font-family: 'Segoe UI';
}

#labelsresults {
    display: inline-flex;
    width: 100%;
    height: 50%;
    text-align: center;
    background: #7AB893;
    font-family: 'Segoe UI';
}

#results {
    display: inline-flex;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #7AB893;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Segoe UI';
}

.final {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Segoe UI';
}
